<div class="aj-container" style="max-width:990px;">
    <md-card style="background-color:rgb(246,249,249);">
		<img ng-src="/images/angular-powered.jpg" class="md-card-image">
		<md-card-content>
			<h2 class="md-title">This website runs AngularJS</h2>
			<p>
				It actually uses the entire MEAN stack. That is MongoDB, ExpressJS, AngularJS and NodeJS. Together they make up a nice to use software bundle for deploying a website from your own server.
			</p>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button href="https://www.mongodb.org/" target="_blank">Mongo</md-button>
			<md-button href="http://expressjs.com/" target="_blank">Express</md-button>
			<md-button href="https://angularjs.org/" target="_blank">Angular</md-button>
			<md-button href="https://nodejs.org/en/" target="_blank">Node</md-button>
		</div>
	</md-card>
</div>