<div layout="row">	
	<div flex></div>
	<div class="aj-container-sides" flex layout="column" style="min-width:1240px; max-width:1240px; min-height:860px;">
		<md-tabs flex md-border-bottom>
			<md-tab label="Astervoid">
				<astervoid game-width="1200" game-height="800"></astervoid>
			</md-tab>
			<md-tab label="About the game">
				<div class="aj-text-container">
					<h2>Astervoid</h2>
					<p>Astervoid is a game created by me. It is a new take on the all time classic Asteroids, now with a progress system.</p>
					<ul>
						<li>Don't crash into enemy spacecrafts.</li>
						<li>Don't get shot down.</li>
						<li>Purchase upgrades for your spacecrafts.</li>
						<li>Survive as long as you can.</li>
						<li>Have fun!</li>
					</ul>
				</div>
			</md-tab>
		</md-tabs>
	</div>
	<div flex></div>
</div>